@model PaginatedResultViewModel<UserViewModel>
@{
    ViewBag.PageTitle = "User Management";
    ViewBag.CardTitle = "View Users";
}

<div>
    <br />
    <a href="/Identity/Account/Register" class="btn btn-primary">Create new User</a>
</div>
<br />
<table class="table table-hover" width="100%">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>PhoneNumber</td>
        <td>Action</td>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @if (item.LockoutEnd == null | item.LockoutEnd < DateTime.Now)
                    {
                        <a class="btn btn-success" asp-action="LockUnlock" asp-route-id="@item.Id">
                            <i class="fas fa-lock-open"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-danger" asp-action="LockUnlock" asp-route-id="@item.Id">
                            <i class="fas fa-lock"></i>
                        </a>
                    }
                }
            </td>
        </tr>
    }
</table>
@* Pagination *@

@if (@Model.Items.Any())
{
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link"
               href="/Admin/Users/index?PageNumber=@(Model.CurrentPage - 1)">Previous</a>
        </li>
        @for (int j = 0; j < Model.TotalPages; j++)
        {
            if ((j + 1) == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link"
                       href="/Admin/Users/index?PageNumber=@(j + 1)">
                        @(j + 1)
                    </a>
                </li>
            }
            else
            {
                <li class="page-item ">
                    <a class="page-link"
                       href="/Admin/Users/index?PageNumber=@(j + 1)">
                        @(j + 1)
                    </a>
                </li>
            }
        }
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link"
               href="/Admin/Users/index?PageNumber=@(Model.CurrentPage + 1)">Next</a>
        </li>
    </ul>
}


